{% extends "base_generic.html" %}

{% block content %}
    <h1> World of Goo 2 History WRs </h1>

    <h3 align = "center">
        <a href = "{% url 'index2' %}"> Back to Current Records </a>
    </h3>

    <div style = "padding: 5px 100px 5px 100px; font-size: 1.5em;">
        This page lists all records ever broken in game's history.
        Some of the records may be missing, as it is difficult to find early WRs. If you know about records that are not on this list, please contact us can give some possible information. We would appreciate you for that.
        <br/>
        You can filter the records by level and record type.
    </div>

    </br>

    <form method = "get" action = "" align = "center">
        <label for = "RecordLevel"> Select Level </label>
        <select name = "SelectRecordLevel" id = "SelectRecordLevel">
            <option value = "0"> Select Level </option>
            <option value = "1" {% if level_select == "1" %} selected {% endif %}> All </option>
            {% for level in levels_list %}
                {% if level.Version == "2.0" %}
                    <option value = "{{level.LevelName}}" {% if level_select == level.LevelName %} selected {% endif %} > {{level.LevelName}} </option>
                {% endif %}
            {% endfor %}
        </select>
        <label for = "RecordType"> Record Type </label>
        <select name = "SelectRecordType" id = "SelectRecordType">
            <option value = "0"> Select Record Type </option>
            <option value = "1" {% if record_type == "1" %} selected {% endif %} > All </option>
            <option value = "B" {% if record_type == "B" %} selected {% endif %} > Max Balls </option>
            <option value = "M" {% if record_type == "M" %} selected {% endif %} > Least Moves </option>
            <option value = "T" {% if record_type == "T" %} selected {% endif %} > Goal Time </option>
        </select>
        <label for = "PlayerName"> Player Name </label>
        <select name = "SelectPlayerName" id = "SelectPlayerName">
            <option value = "1"> All </option>
            {% for player in players_list %}
                <option value = "{{player.Name}}" {% if player_select == player.Name %} selected {% endif %} > {{player.Name}} </option>
            {% endfor %}
        </select>
        <br/>
        <input type = "submit" value = "Filter Records">
    </form>
    
    <br/>

    <table border = "1" cellspacing = "0" align = "center">
        <tr>
            <th align = "center"> Level Name </th>
            <th align = "center"> Record </th>
            <th align = "center"> Player </th>
            <th align = "center"> Date </th>
            <th align = "center"> Video </th>
        </tr>
        <tr>
            <td colspan = "5"> </td>
        </tr>
        {% for record in records_list %}
            {% if record.Available == 1 %}
                <tr>
                    <td align = "center">
                        {{record.LevelName}}
                    </td>
                    <td align = "center">
                        {% if record.Type == "T" or record.Type == "O" %}
                            {% if record.Type == "T" %}
                                Goal
                            {% else %}
                                OCD
                            {% endif %}
                            <script> calc_time({{record.Score}}) </script>
                        {% else %}
                            {% if record.Type == "B" %}
                                {% if record.Score >= 0 %}
                                    {{record.Score}} Balls
                                {% else %}
                                    Infinite Balls
                                {% endif %}
                            {% else %}
                                {{record.Score}} Moves
                            {% endif %}
                        {% endif %}
                    </td>
                    <td align = "center">
                        {% if record.Player  %}
                            {{record.Player}}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td align = "center">
                        {% if record.Date  %}
                            {{record.Date}}
                        {% else %}
                            N/A
                        {% endif %}
                        {% if record.ExactTime %}
                            {{record.ExactTime|time:"H:i"}}
                        {% endif %}
                    </td>
                    <td align = "center">
                        {% if record.Link  %}
                            <a href = "{{record.Link}}"> [Link]</a>
                        {% endif %}
                        {% if record.DownloadLink %}
                            <a href = "{{record.DownloadLink}}"> [Download]</a>
                        {% endif %}
                        {% if record.Description or record.Description_notes or record.ImageLink %}
                            <a data-toggle = "collapse" data-parent = "#Description" href = "#{{record.Name}}">
                                (D)
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan = "5" style = "padding: 5px 100px 5px 100px;">
                        {% if record.Description or record.Description_notes or record.ImageLink %}
                            <div id = "{{record.Name}}" class = "collapse in">
                                {% if record.Description %}
                                    <div style = "font-size: 0.9em; opacity: 0.8; padding: 0px 150px 0px 150px;"> {{ record.Description|safe|linebreaksbr }} </br> - comments from player </br></br> </div>
                                {% endif %}
                                {% if record.Description_notes %}
                                    <div style = "font-size: 0.8em; opacity: 0.95; padding: 0px 150px 0px 150px;"> {{ record.Description_notes|safe|linebreaksbr }} </br> - The Sign Painter </div>
                                {% endif %}
                                {% if record.ImageLink %}
                                    </br> <div style = "text-align:center"> <img src = {{record.ImageLink}} alt = "Record Image" width="900" height="600" style = "text-align:center"> </div>
                                {% endif %}
                            </div>
                            <script type = "text/javascript">
                                $(function () { $('#{{record.Name}}').collapse('hide')});
                            </script>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}
