{% extends "base_generic.html" %}

{% block content %}
    <h1> World of Goo 2 Current World Records </h1>
    
    <h2 align = "center">
        <a href = "{% url 'index' %}"> World of Goo World Records </a>
    </h2>
    {% comment %} <h2 align = "center">
        <a href = "{% url 'leaderboards' %}"> Player Leaderboards </a>
    </h2> {% endcomment %}

    <div style = "padding: 5px 100px 5px 100px; font-size: 1.5em;">
        This page only contains current world records of World of Goo Levels.
        The strategies of some records are based on previous records,
        if you want to discover the evolution of records of a level,
        you can visit the following 'History Records' page: <a href = "{% url 'HistoryRecords2' %}"> All History Records </a>
    </div>

    <div style = "padding: 5px 100px 5px 100px; font-size: 1.5em;">
        If you break a world record, please upload a video (video proof is necessary for a world record since 2014)
        and contact us in <a href = "https://discord.gg/FTe5Vfy"> goofans discord </a>, we will add your record to the site.
        <br/>
        <li> <a href = "https://www.youtube.com/@wogfan"> Youtube wogfan channel </a> </li>
        <li> <a href = "https://www.wogfan.rf.gd"> previous wogfan site </a> </li>
        <li> <a href = "https://www.goofans.com"> Goofans site </a> </li>
        Timezone for this website is UTC.
    </div>

    <div style = "padding: 5px 100px 5px 100px; font-size: 1.7em;">
        Rules for World Records (since June 2024):
        <li> 1. You must record a video for a world record. If you didn't, then don't tell anyone that you broke the record before you redo it and successfully got a video. </li>
        <li> 2. Any assisting tools (such as autoclicker) is not allowed in a world record. </li>
    </div>

    <div style = "padding: 5px 100px 5px 100px; font-size: 1.5em;">
        Website Managers (contact if necessary):
        <li> installb </li>
        <li> Liyuan </li>
	    <li> dengshouhao </li>
        <br/>
    </div>

    <script type = "text/javascript">
        function open_desc(str1,str2,str3,str4){
            $('#' + str1).collapse('toggle');
            $('#' + str2).collapse('hide');
            $('#' + str3).collapse('hide');
            $('#' + str4).collapse('hide');
        }
        var ball_score = 0;
        var move_score = 0;
        var time_score = 0;
        var ocd_score = 0;
        function add_B(x){ ball_score = ball_score + x; }
        function add_M(x){ move_score = move_score + x; }
        function add_T(x){ time_score = time_score + x; }
        function add_O(x){ ocd_score = ocd_score + x; }
    </script> 
    
    <table border = "1" cellspacing = "0" align = "center">
        <tr>
            <th align = "center"> Level Name </th>
            <th align = "center"> Max Balls </th>
            <th align = "center"> Least Moves </th>
            <th align = "center"> Least Time </th>
            {% comment %} <th align = "center"> Least Time (OCD) </th> {% endcomment %}
        </tr>

        {% for level in levels_list %}
        {% if level.Version == "2.0" %}
	    
	    {% if level.LevelId == 1 %}
                <tr> <th align = "center" colspan = "5" style = "background-color: #7CF66D;"> Chapter 1: The Long Juicy Road </th> </tr>
                <tr> <td colspan = "5"> </td> </tr>
            {% endif %}
	    {% if level.LevelId == 16 %}
                <tr> <th align = "center" colspan = "5" style = "background-color: #FAC064;"> Chapter 2: A Distant Signal </th> </tr>
                <tr> <td colspan = "5"> </td> </tr>
            {% endif %}
	    {% if level.LevelId == 30 %}
                <tr> <th align = "center" colspan = "5" style = "background-color: #68635E;"> Chapter 3: Atomic Express </th> </tr>
                <tr> <td colspan = "5"> </td> </tr>
            {% endif %}
	    {% if level.LevelId == 43 %}
                <tr> <th align = "center" colspan = "5" style = "background-color: #01FF0C;"> Chapter 4: Ye Olde Reckonator </th> </tr>
                <tr> <td colspan = "5"> </td> </tr>
            {% endif %}
	    {% if level.LevelId == 58 %}
                <tr> <th align = "center" colspan = "5" style = "background-color: #FFEB6B;"> Chapter 5: A New World </th> </tr>
                <tr> <td colspan = "5"> </td> </tr>
            {% endif %}


                <td align = "center">
                    {{level.LevelName}}
                </td>

                <td align = "center">
                    <script type = "text/javascript">
                        $(function () { $('#{{level.BallRec.Name}}').collapse('hide')});
                        $(function () { $('#{{level.MoveRec.Name}}').collapse('hide')});
                        $(function () { $('#{{level.TimeRec.Name}}').collapse('hide')});
                        $(function () { $('#{{level.OCDTimeRec.Name}}').collapse('hide')});
                    </script> 
                    {% if level.BallRec %}
                        <script type = "text/javascript"> add_B({{level.BallRec.Score}}); </script>
                        {% if level.BallRec.Available == 1 %}
                            {% if level.BallRec.Score < 0 %}
                                Infinite
                                <br/>
                                {% if level.BallRec.Description or level.BallRec.ImageLink or level.BallRec.Description_notes %}
                                    <a href = 'javascript:void(0);' onclick = 'open_desc("{{level.BallRec.Name}}","{{level.MoveRec.Name}}","{{level.TimeRec.Name}}","{{level.OCDTimeRec.Name}}");'>
                                        (Description)
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if level.BallRec.Score >= 0 %}
                                {{level.BallRec.Score}} - {{level.BallRec.Player.Name}}
                                <br/>
                                {{level.BallRec.Date|date:"Y/m/d"}}
                                {% if level.BallRec.ExactTime %}
                                    {{level.BallRec.ExactTime|time:"H:i"}}
                                {% endif %}
                                <br/>
                                {% if level.BallRec.Link %}
                                    <a href = "{{level.BallRec.Link}}"> [Video]</a>
                                {% endif %}
                                {% if level.BallRec.Description or level.BallRec.ImageLink or level.BallRec.Description_notes %}
                                    <a href = 'javascript:void(0);' onclick = 'open_desc("{{level.BallRec.Name}}","{{level.MoveRec.Name}}","{{level.TimeRec.Name}}","{{level.OCDTimeRec.Name}}");'>
                                        (Description)
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{level.BallRec.Score}} - N/A
                    {% endif %}
                    {% else %}
                        N/A
                    {% endif %}
                </td>

                <td align = "center">
                    {% if level.MoveRec %}
                        <script type = "text/javascript"> add_M({{level.MoveRec.Score}}); </script>
                        {% if level.MoveRec.Available == 1 %}
                            {{level.MoveRec.Score}} - {{level.MoveRec.Player.Name}}
                            <br/>
                            {{level.MoveRec.Date|date:"Y/m/d"}}
			    {% if level.MoveRec.ExactTime %}
                                {{level.MoveRec.ExactTime|time:"H:i"}}
                            {% endif %}
                            <br/>
                            {% if level.MoveRec.Link %}
                                <a href = "{{level.MoveRec.Link}}"> [Video]</a>
                            {% endif %}
                            {% if level.MoveRec.Description or level.MoveRec.ImageLink or level.MoveRec.Description_notes  %}
                                <a href = 'javascript:void(0);' onclick = 'open_desc("{{level.MoveRec.Name}}","{{level.BallRec.Name}}","{{level.TimeRec.Name}}","{{level.OCDTimeRec.Name}}");'>
                                    (Description)
                                </a>
                            {% endif %}
                            </div>
                        {% else %}
                            {{level.MoveRec.Score}} - N/A
                    {% endif %}
                    {% else %}
                        N/A
                    {% endif %}
                </td>

                {% comment %} {% if level.TimeRec == level.OCDTimeRec %}
                <td align = "center" colspan = "2">
                {% else %}
                <td align = "center" colspan = "1">
                {% endif %} {% endcomment %}
                <td align = "center" colspan = "1">
                    {% if level.TimeRec %}
                        <script type = "text/javascript"> add_T({{level.TimeRec.Score}}); </script>
                        {% if level.TimeRec.Available == 1 %}
                            <script> calc_time({{level.TimeRec.Score}}) </script> - {{level.TimeRec.Player.Name}}
                            <br/>
                            {{level.TimeRec.Date|date:"Y/m/d"}}
                            {% if level.TimeRec.ExactTime %}
                                {{level.TimeRec.ExactTime|time:"H:i"}}
                            {% endif %}
			    <br/>
                            {% if level.TimeRec.Link %}
                                <a href = "{{level.TimeRec.Link}}"> [Video]</a>
                            {% endif %}     
                            {% if level.TimeRec.Description or level.TimeRec.ImageLink or level.TimeRec.Description_notes  %}
                                <a href = 'javascript:void(0);' onclick = 'open_desc("{{level.TimeRec.Name}}","{{level.MoveRec.Name}}","{{level.BallRec.Name}}","{{level.OCDTimeRec.Name}}");'>
                                    (Description)
                                </a>
                            {% endif %}
                            </div>
                        {% else %}
                            {{level.TimeRec.Score}} - N/A
                    {% endif %}
                    {% else %}
                        N/A
                    {% endif %}
                </td>

                {% comment %} {%if level.TimeRec != level.OCDTimeRec %}
                <td align = "center">
                    {% if level.OCDTimeRec %}
                        <script type = "text/javascript"> add_O({{level.OCDTimeRec.Score}}); </script>
                        {% if level.OCDTimeRec.Available == 1 %}
                            <script> calc_time({{level.OCDTimeRec.Score}}) </script> - {{level.OCDTimeRec.Player.Name}}
                            <br/>
                            {{level.OCDTimeRec.Date|date:"Y/m/d"}}
                            <br/>
                            {% if level.OCDTimeRec.Link %}
                                <a href = "{{level.OCDTimeRec.Link}}"> [Video]</a>
                            {% endif %}
                            {% if level.OCDTimeRec.Description or level.OCDTimeRec.ImageLink or level.OCDTimeRec.Description_notes  %}
                                <a href = 'javascript:void(0);' onclick = 'open_desc("{{level.OCDTimeRec.Name}}","{{level.MoveRec.Name}}","{{level.BallRec.Name}}","{{level.TimeRec.Name}}");'>
                                    (Description)
                                </a>
                            {% endif %}
                        {% else %}
                            {{level.OCDTimeRec.Score}} - N/A
                    {% endif %}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                {% endif %} {% endcomment %}
            </tr>
            <tr>
                <td colspan =  "5" > 
                    <div id = "{{level.LevelId}}">
                        {% if level.BallRec %}
                        <div id = "{{level.BallRec.Name}}" data-parent = "#{{level.LevelId}}" class = "collapse in">
                            {% if level.BallRec.Description %}
                                <div style = "font-size: 0.9em; opacity: 0.8; padding: 0px 150px 0px 150px;"> {{ level.BallRec.Description|safe|linebreaksbr }} </br> - comments from player </br></br> </div>
                            {% endif %}
                            {% if level.BallRec.Description_notes %}
                                <div style = "font-size: 0.8em; opacity: 0.9; padding: 0px 150px 0px 150px;"> {{ level.BallRec.Description_notes|safe|linebreaksbr }} </br> - The Sign Painter </div>
                            {% endif %}
                            {% if level.BallRec.ImageLink %}
                                </br> <div style = "text-align:center"> <img src = {{level.BallRec.ImageLink}} alt = "Record Image" width="900" height="600"> </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if level.MoveRec %}
                        <div id = "{{level.MoveRec.Name}}" data-parent = "#{{level.LevelId}}" class = "collapse in">
                            {% if level.MoveRec.Description %}
                                <div style = "font-size: 0.9em; opacity: 0.8; padding: 0px 150px 0px 150px;"> {{ level.MoveRec.Description|safe|linebreaksbr }} </br> - comments from player </br></br> </div>
                            {% endif %}
                            {% if level.MoveRec.Description_notes %}
                                <div style = "font-size: 0.8em; opacity: 0.95; padding: 0px 150px 0px 150px;"> {{ level.MoveRec.Description_notes|safe|linebreaksbr }} </br> - The Sign Painter </div>
                            {% endif %}
                            {% if level.MoveRec.ImageLink %}
                                </br> <div style = "text-align:center"> <img src = {{level.MoveRec.ImageLink}} alt = "Record Image" width="900" height="600" style = "text-align:center"> </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if level.TimeRec %}
                        <div id = "{{level.TimeRec.Name}}" data-parent = "#{{level.LevelId}}" class = "collapse in">
                            {% if level.TimeRec.Description %}
                                <div style = "font-size: 0.9em; opacity: 0.8; padding: 0px 150px 0px 150px;"> {{ level.TimeRec.Description|safe|linebreaksbr }} </br> - comments from player </br></br> </div>
                            {% endif %}
                            {% if level.TimeRec.Description_notes %}
                                <div style = "font-size: 0.8em; opacity: 0.95; padding: 0px 150px 0px 150px;"> {{ level.TimeRec.Description_notes|safe|linebreaksbr }} </br> - The Sign Painter </div>
                            {% endif %}
                            {% if level.TimeRec.ImageLink %}
                                </br> <div style = "text-align:center"> <img src = {{level.TimeRec.ImageLink}} alt = "Record Image" width="900" height="600" style = "text-align:center"> </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% comment %} {% if level.OCDTimeRec and level.TimeRec != level.OCDTimeRec %}
                        <div id = "{{level.OCDTimeRec.Name}}" data-parent = "#{{level.LevelId}}" class = "collapse in">
                            {% if level.OCDTimeRec.Description %}
                                <div style = "font-size: 0.9em; opacity: 0.8; padding: 0px 150px 0px 150px;"> {{ level.OCDTimeRec.Description|safe|linebreaksbr }} </br> - comments from player </br></br> </div>
                            {% endif %}
                            {% if level.OCDTimeRec.Description_notes %}
                                <div style = "font-size: 0.8em; opacity: 0.95; padding: 0px 150px 0px 150px;"> {{ level.OCDTimeRec.Description_notes|safe|linebreaksbr }} </br> - The Sign Painter </div>
                            {% endif %}
                            {% if level.OCDTimeRec.ImageLink %}
                                </br> <div style = "text-align:center"> <img src = {{level.OCDTimeRec.ImageLink}} alt = "Record Image" width="900" height="600" style = "text-align:center"> </div>
                            {% endif %}
                        </div>
                        {% endif %} {% endcomment %}
                    </div>
                </td>
            </tr>
        {% endif %}
        {% endfor %}

            <tr style = "background-color: #68635E;">
                <td align = "center"> Totals: </td>
                <td align = "center">
                    {% comment %} <script type = "text/javascript"> document.write(ball_score); </script> {% endcomment %}
                    /
                </td>
                <td align = "center">
                    <script type = "text/javascript"> document.write(move_score); </script>
                </td>
                <td align = "center">
                    <script type = "text/javascript"> calc_time(time_score); </script>
                </td>
                {% comment %} <td align = "center">
                    <script type = "text/javascript"> calc_time(ocd_score); </script>
                </td> {% endcomment %}
            </tr>
        
    </table>

{% endblock %}
